{% extends 'base.html.twig' %}

{% block body %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Song Name</th>
      <th>genre</th>
      <th>Last updated</th>
    </tr>
  </thead>
  <tbody>
    {% for song in songs %}
    <tr>
      <td>
        <a href="{{ path('record_show', {'track': song.songName}) }}">
          {{ song.songName }}
        </a>
      </td>
      <td> {{ song.genre }}</td>
      <td> {{ song.updatedAt|date('Y-m-d') }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
