{% extends 'base.html.twig' %}

{% block body %}

<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>Song Name</th>
      <th>genre</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
    {% for song in songs %}
    <tr class="text-left">
      <td>
        <a class="songs" href="{{ path('record_show', {'track': song.songName}) }}">
          {{ song.songName }}
        </a>
      </td>
      <td> {% for genre in song.username.genre %} {{ genre }}  {% if not loop.last %},{% endif %} {% endfor %}</td>
      <td> {{ song.updatedAt|date('Y-m-d') }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
